@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* Applies to entire webpage */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
}

/* Body */
body {
    background-image: url(./images/background1.jpg);
    background-size: cover;
}

/* quote box styling */
.quotecontainer {
    background-color: rgba(220, 225, 222, .95);
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

/* quote of the day styling */
.quotecontainer h2 {
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}

/* line under quote of the day styling */
.quotecontainer h2::after {
    content: '';
    width: 125px;
    height: 3px;
    border-radius: 3px;
    background: #1F2421;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

/* center loading styling */
.quotecontainer blockquote {
    font-size: 26px;
    min-height: 110px;
}

/* "" surrounding loading */
.quotecontainer blockquote::before, .quotecontainer blockquote::after {
    content: '"';
}

/* Author bottom right */
.quotecontainer span {
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}

/* loading -  */
.quotecontainer span::before {
    content: '';
    width: 20px;
    height: 2px;
    background: #1F2421;
    position: absolute;
    top: 50%;
    left: -30px;
}

/* button positioning */
.quotecontainer section {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;  
}

/* button styling */
.quotecontainer button {
    background: #9CC5A1;
    color: #fff;
    border-radius: 25px;
    border: 1px solid #9CC5A1;
    width: 175px;
    height: 50px;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 5px;
}

/* twitter icon styling */
.quotecontainer button img {
    width: 25px;
    margin-right: 10px;
}

/* second button styling changes */
.quotecontainer button:nth-child(2) {
    background: transparent;
    color: black;
}

